* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: grey;
}

header {
  text-align: center;
  width: 100%;
  padding: 16px;
  font-size: 24px;
  background-color: black;
  color: white;
}

#weather-block {
  background-color: grey;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

#weather-block p, label {
  background-color: black;
  color: white; 
  border: 1px solid white;
  width: 100%;
  height: 35px;
  margin: 5px auto;
  padding: 5px;
}